# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.npm
.yarn
.pnp.*

# Build outputs
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Temporary files
.temp
.tmp
.cache

# Local development files
.local
